@media (min-width: 768px) {
  div .card-columns {
        column-count: 3;
    }
    .card {
      height: 215px;
      width: 175px;
    }
  
    img {
      min-width: 175px;
      min-height: 175px;
    }
  }
  
  @media (min-width: 992px) {
    div .card-columns {
        column-count: 4;
    }
    .card {
      height: 300px;
    }
  
    img {
      min-width: 200px;
      min-height: 200px;
    }
  }
  
  @media (min-width: 1200px) {
    div .card-columns {
        column-count: 5;
        min-height: 300px;
    }
  
    .card {
      height: 340px;
    }
  
    img {
      min-width: 200px;
      min-height: 200px;
    }
  }