
$body-bg: 		#010305;
$font-family-base:  'Roboto', sans-serif;
$card-bg: #fff;
html, body {
   color: #0d1c25;
}
nav {
   background-color: #003986 !important;
}
a {
   color:#ff6600	 !important;
}

.image-style {
   width: 11rem;
   height: 16rem; 
}
.card {
   // flex-direction: row !important;
   border-left: none !important;
   border-radius: 0 !important;
}

.CircularProgressbar {
   width: 10%;
   height: 10%;
}

#card-text{
   word-break: break-all;
   font-size: 13px;

}

#canvas{
   display: flex; 
   align-items: center;
   margin: 0 0 20px 0 ;
}

#title {
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 14ps;
}

#info{
   flex: 1;
   // padding-left: 10px;
}

#card {
   border-radius: 0;
   border-left: none;
   display: flex;
   flex-direction: row; 
}

.header{
   display: flex;
   height: 100px;
   margin-top: 20px;
   margin-bottom: -5px;
   align-items: flex-end
}

.header > p{
   text-transform: capitalize;
   margin: 0;
   font-weight: 600;
   font-size: 1.5rem
}

.tinted {
   position: absolute;
   top: 0;
   bottom: 0;
   height: 100vh;
   width: 100vw;
}

.card-img{
   height: 100vh !important;
}

@media screen and (max-width: 400px) {
   .card {
      height: 14rem !important;
   }

   .image-style{
      height: 14rem;
      width: 9rem
   }

   #card-text{
      font-family: 'Raleway';
      font-size: 10px;
   }

   #title {
      font-weight: 600;
      font-size: 12px;
   }
}

@media screen and (max-width: 500px) {
   .card {
      height: 16rem;
   }
}

@media screen and (max-width: 1000px) {
   .card {
      height: 14rem;
   }
   .image-style {
      width: 8rem;
      height: 14rem;
   }
   #card-text{
      font-size: 10px;
   }

   #title {
      font-weight: 600;
      font-size: 12px;
   }
}

@media screen and (max-width: 320px) {
   .card{
      display: none;
   }
   .card-body{
      display: none;
   }
   .image-style {
      width: 14rem;
   }
}

@import "~bootstrap/scss/bootstrap.scss";



